<div class="mdl-card__title mdl-card--expand">
  <h4>
    {{country.name}}<br>
  </h4>
  <div class="flag-wrapper">
    <img class="flag" [src]="'app/shared/images/flags/'+flagClass+'.png'" [alt]="'Flag of '+country.name"/>
  </div>
</div>
<div class="content">
  <div class="person" [ngClass]="userVisaClass">
    <p class="name">You</p>
    <img width="24px" [src]="'app/shared/images/country-card/'+Visa.toString(userVisaStatus)+'.svg'" [alt]="Visa.toDescriptionString(userVisaStatus)" [title]="Visa.toDescriptionString(userVisaStatus)"/>
  </div>
  <!-- [id]="country.name+'user'+userVisaStatus+partnerVisaStatus" -->
  <!-- [id]="country.name+'partner'+userVisaStatus+partnerVisaStatus" -->
  <!-- <div class="mdl-tooltip mdl-tooltip--large" [attr.for]="country.name+'user'+userVisaStatus+partnerVisaStatus">
    {{Visa.toDescriptionString(userVisaStatus)}}
  </div>
  <div class="mdl-tooltip mdl-tooltip--large" [attr.for]="country.name+'partner'+userVisaStatus+partnerVisaStatus">
      {{Visa.toDescriptionString(partnerVisaStatus)}}
  </div> -->
  <div class="person" [ngClass]="partnerVisaClass">
    <p class="name">Partner</p>
    <img width="24px" [src]="'app/shared/images/country-card/'+Visa.toString(partnerVisaStatus)+'.svg'" [alt]="Visa.toDescriptionString(partnerVisaStatus)" [title]="Visa.toDescriptionString(partnerVisaStatus)"/>
  </div>
</div>
<div class="mdl-card__actions mdl-card--border">
  <!-- <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
    Read more
  </a> -->
  <div class="mdl-layout-spacer"></div>
  <a [href]="wikiUrl" target="_blank" [title]="'Wikivoyage page for '+country.name"><i class="material-icons link">launch</i></a>
</div>
