@import "variables";
:host {
  .flag-wrapper {
    max-height: 50px;
    max-width: 65px;
    overflow: hidden;
    img.flag {
      max-width: 100%;
      max-height: 100%;
      box-sizing: border-box;
      object-fit: contain;
      object-position: 100%;
      border: 1px solid #bababa;
    }
  }

  .content {
    padding: 0 10% 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    .person {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      &.not-required {
        color: $not-required-color;
      }
      &.required {
        color: $required-color;
      }
      &.on-arrival {
        color: $on-arrival-color;
      }
      &.evisa {
        color: $evisa-color;
      }
      &.unknown {
        color: $unknown-color;
      }
      &.refused {
        color: $refused-color;
      }
      .name {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 13px;
        text-align: center;
        line-height: 13px;
        min-width: 60px;
        margin-top: 10px;
        margin-bottom: 5px;
      }
      img {
      }
    }


    .visa-status {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 13px;
    }
  }

  width: 380px;
  height: 196px;
  margin: 20px 1.5vw;
  & > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
  }
  & > .mdl-card__title {
    align-items: flex-start;
    justify-content: space-between;
  }
  & > .mdl-card__title > h4 {
    margin-top: 0;
  }
  & > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
  }
  & > .mdl-card__actions > .material-icons {
    padding-right: 10px;
  }
  // & > .mdl-card__title,
  // & > .mdl-card__actions,
  // & > .mdl-card__actions > .mdl-button {
  //   color: #fff;
  // }
  a {
    color: inherit;
  }
}
