@import "variables";

.mdl-layout__content {
  background-color: $body-color;
}

.mdl-layout__drawer {
  border-right: 0;
}

.mdl-layout__header {
  background-color: $header-color;
}

.mdl-layout__title {
  text-transform: capitalize;
}

@media screen and (max-width: $screen-tablet-max) {
  .mdl-layout--fixed-drawer>.mdl-layout__content {
    padding-top: 24px;
  }
}

@media screen and (min-width: $screen-desktop-min) {
  .mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
    margin-left: 360px;
    width: calc(100% - 360px);
  }
  .mdl-layout--fixed-drawer > .mdl-layout__content{
    margin-left: 360px;
  }

  .mdl-layout__drawer {
    width: 360px;
  }
}
