<div class="app-home">
  <h1 class="brand">Nomad Couple</h1>
  <h3 class="tagline">Where can you and your partner travel without a visa?</h3>
  <form (submit)="showResults()" novalidate>
    <ng-select [items]="countries | async" [(ngModel)]="userNationality" name="user-nationality-select" placeholder="Your nationality"
      required>
    </ng-select>
    <ng-select [items]="countries | async" [(ngModel)]="partnerNationality" name="partner-nationality-select" placeholder="Your partner's nationality"
      required>
    </ng-select>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect home-button" [class.mdl-button--colored]="userNationality && partnerNationality"
      [disabled]="!(userNationality && partnerNationality)" label="Submit form">
      Let's Go!
    </button>
  </form>
</div>
