<div class="nomad-country-count mdl-js-ripple-effect" [ngClass]="Visa.toString(type)" *ngIf="arr" [class.selected]="selected">
  <h1 class="number">{{arr.length}}</h1>
  <h6 class="text" [ngSwitch]="type">
    <template [ngSwitchCase]="Visa.ON_ARRIVAL">Visa on arrival</template>
    <template [ngSwitchCase]="Visa.REQUIRED">Visa required</template>
    <template [ngSwitchCase]="Visa.NOT_REQUIRED">Visa not required</template>
    <template [ngSwitchCase]="Visa.EVISA">E-visa</template>
    <template [ngSwitchCase]="Visa.REFUSED">Travel banned</template>
    <template [ngSwitchCase]="Visa.UNKNOWN">Visa unknown</template>
  </h6>
  <span class="mdl-ripple is-animating ripple-workaround"></span>
</div>
