@import "variables";

.nomad-country-count {
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  transition: all 0.15s $md-ease-curve;
  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    z-index:1000;
  }
  &.on-arrival .number {
    color: $on-arrival-color;
  }
  &.not-required .number {
    color: $not-required-color;
  }
  &.evisa .number {
    color: $evisa-color;
  }
  &.required .number {
    color: $required-color;
  }
  &.unknown .number {
    color: $unknown-color;
  }
  &.refused .number {
    color: $refused-color;
  }
  .number {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    letter-spacing: 0.05rem;
  }
  .text, .number {
    text-align: center;
  }
  .text {
    margin-top: 0;
  }
  @media screen and (min-width: $screen-desktop-min) {
    width: 50%;
  }
  @media screen and (max-width: $screen-tablet-max) {
    width: 100%;
  }
}
