<div class="nomad-country-count" [ngClass]="getClassFromType()" *ngIf="arr">
  <h1 class="number">{{arr.length}}</h1>
  <h6 class="text" [ngSwitch]="type">
    <template [ngSwitchCase]="Visa.ON_ARRIVAL">Visa on arrival</template>
    <template [ngSwitchCase]="Visa.REQUIRED">Visa required</template>
    <template [ngSwitchCase]="Visa.NOT_REQUIRED">Visa not required</template>
    <template [ngSwitchCase]="Visa.UNKNOWN">Visa Unknown</template>
  </h6>
  <!-- <h6 class="text">{{message}}</h6> -->
</div>
