@import "../shared/styles/variables";

.nomad-country-count {
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  transition: all 0.15s $md-ease-curve;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &.on-arrival .number {
    color: $on-arrival-color;
  }
  &.not-required .number {
    color: $not-required-color;
  }
  &.evisa .number {
    color: $evisa-color;
  }
  &.required .number {
    color: $required-color;
  }
  &.unknown .number {
    color: $unknown-color;
  }
  &.refused .number {
    color: $refused-color;
  }
  .number {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    letter-spacing: 0.05rem;
  }
  .text, .number {
    text-align: center;
  }
  .text {
    margin-top: 0;
  }
  &.selected .text {
    font-weight: bold;
  }
  .ripple-workaround {
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%) translate(107px, 24px);
  }
  @media screen and (min-width: $screen-desktop-min) {
    width: 50%;
  }
  @media screen and (max-width: $screen-tablet-max) {
    width: 100%;
  }
}
